@import 'mixins';

.modal {
  &__input-line {
    margin-bottom: 2rem;
  }

  &__email {
    margin-bottom: 2rem;
  }

  @include bp($m) {
    &__input-line {
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    &__input-container--credentials:first-of-type {
      margin: 0 2rem 0 0;
    }

    &__input-group--credentials {
      flex: 1;
    }
  }
}
