@import '../../../styles/mixins';
@import '../../../styles/variables';

.modal {
  height: 100%;
  max-width: $max-width;
  outline: 0;

  &__overlay {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity $time;

    &--after-open {
      opacity: 1;
    }

    &--before-close {
      opacity: 0;
    }
  }

  &__image {
    display: none;
  }

  &__main {
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
    @include scrollbar();
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__content {
    color: $brand-2;
    margin: 2rem;
  }

  &__topline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__text {
    max-width: 14rem;
  }

  &__close,
  &__input-icon {
    font-size: 1.6rem;
  }

  &__close {
    margin-top: 0.1rem;
  }

  &__heading {
    color: $brand-1;
    margin: 0;
  }

  &__description {
    font-weight: bold;
    margin-bottom: 0;
  }

  &__input-container {
    flex: 1;

    &:first-of-type {
      margin-bottom: 2rem;
    }
  }

  &__input-group {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    .modal__input-icon {
      margin-right: 1rem;
      width: 2rem;
    }
  }

  &__input {
    border: 0;
    border-bottom: 2px solid $brand-1;
    color: $brand-2;
    flex: 1;
    padding: 0.5rem;
    width: 100%;
  }

  &__submit {
    border-color: $brand-1;
    color: $brand-1;
    margin: 5rem 0 0 auto;

    &:hover {
      background-color: $brand-1;
      color: #fff;
    }

    &:disabled {
      background-color: transparent;
      color: $brand-1;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    color: $brand-2;
    font-weight: bold;
    margin: 3rem auto 2rem auto;
    transition: color 0.15s;

    &:hover {
      color: $brand-1;
    }
  }

  &__button-icon {
    margin-left: 0.5rem;
  }

  @include bp($s) {
    border-radius: 2rem;
    display: flex;
    height: auto;
    max-height: 95vh;
    width: 95%;
    overflow: hidden;

    &__overlay {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
    }

    &__image {
      background-attachment: fixed;
      background-image: url(../../../images/bg-alt.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      flex: 1;
    }

    &__icon {
      color: #fff;
      font-size: 2rem;
      margin: 3rem;
    }

    &__main {
      flex: 2;
      height: auto;
    }

    &__wrapper {
      height: auto;
      padding: 3rem;
    }

    &__content {
      margin: 0;
    }

    &__text {
      max-width: 28rem;
    }

    &__close {
      display: none;
    }

    &__button {
      margin: 5rem auto 0 auto;
    }
  }

  @include bp($m) {
    max-height: 95vh;
  }

  @include bp($xl) {
    width: 80%;
  }
}
