@import '../../styles/variables';

.firms {
  &__heading {
    margin: 0;
  }

  &__topline {
    display: flex;
    justify-content: space-between;
  }

  &__selectors {
    align-items: flex-end;
    display: flex;
    flex: 1;
    margin-right: 10rem;
  }

  &__select {
    display: flex;
    flex-basis: 8rem;
    max-width: 32rem;
  }

  &__recent {
    background-color: $brand-2;
    border-radius: 2rem;
    box-shadow: $shadow-m;
    color: #fff;
    padding: 0.25rem 0.75rem;
    transition: background-color $time, box-shadow $time, transform $time;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: $brand-1;
      box-shadow: $shadow-l;
    }

    &:active {
      box-shadow: $shadow;
      transform: translateY(0.1rem);
    }
  }

  &__actions {
    background-color: $brand-2;
    border-radius: 2rem;
    padding: 0.5rem 0.625rem;
  }

  &__action {
    background-color: #fff;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &--save {
      color: $blue;

      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }

    &--add {
      color: $green;

      &:hover {
        background-color: $green;
        color: #fff;
      }
    }

    &--edit {
      color: $brand-1;

      &:hover {
        background-color: $brand-1;
        color: #fff;
      }
    }

    &--delete {
      color: $red;

      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
  }
}
