@import '../../styles/variables';
@import '../../styles/mixins';

.firms {
  &__heading {
    margin: 0;
  }

  &__topline {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    min-height: 2.4rem;
  }

  &__selectors {
    align-items: flex-end;
    display: flex;
    flex: 1;
    margin-right: 2rem;
  }

  &__select {
    display: flex;
    flex-basis: 8rem;
    margin: 0;
    max-width: 32rem;
  }

  &__recent {
    display: none;
  }

  @include bp($s) {
    &__select {
      margin-right: 1rem;

      &--marginless {
        margin: 0;
      }
    }

    &__recent {
      background-color: $brand-2;
      border-radius: 2rem;
      box-shadow: $shadow-m;
      color: #fff;
      padding: $slim;
      transition: background-color $time, box-shadow $time, transform $time;

      &:first-of-type {
        display: inline-block;
      }

      &:hover {
        background-color: $brand-1;
      }

      &:active {
        box-shadow: $shadow;
        transform: translateY(0.1rem);
      }
    }
  }

  @include bp($m) {
    &__recent {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
