@import '../../styles/mixins';
@import '../../styles/variables';

.preferences {
  &__ranker:first-child {
    margin-bottom: 2rem;
  }

  @include bp($l) {
    display: flex;

    &__ranker {
      flex: 1;

      &:first-child {
        margin: 0 2rem 0 0;
      }
    }
  }
}
