@import 'mixins';

.button--big {
  border-width: 2px;
  font-family: $biorhyme;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 1rem;

  @include bp($s) {
    border-width: medium;
    font-size: 1.4rem;
    padding: 0.5rem 3rem;
  }
}
