@import '/src/styles/variables';

button,
input {
  outline: 0;
}

button {
  border: 0;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: default;
  }
}
