@import '../../styles/mixins';
@import '../../styles/variables';

.navbar {
  background-color: #fff;
  box-shadow: $shadow-l;
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__link {
    color: $brand-2;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color $time;

    &:hover,
    &--active {
      color: $brand-1;
    }

    &--brand {
      display: flex;
      align-items: center;
    }

    &--login {
      color: $brand-2;
      transition: $button-transition;

      &:hover {
        color: #fff;
        background-color: $brand-1;
        border-color: $brand-1;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__brand-logo {
    width: 2.5rem;
  }

  &__brand-text {
    display: none;
  }

  &__links {
    align-items: center;
    display: flex;
  }
}

.navbar {
  @include bp($s) {
    &__container {
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    &__link {
      font-size: 1rem;
    }

    &__brand-logo {
      width: 3rem;
    }

    &__brand-text {
      display: block;
      font-family: 'BioRhyme', serif;
      font-size: 2rem;
      margin: 0 0 0 1rem;
    }
  }
}
