@import '../../styles/mixins';
@import '../../styles/variables';

.navbar {
  background-color: #fff;
  box-shadow: $shadow-l;
  position: relative;

  &__container {
    align-items: center;
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &__link {
    color: $brand-2;
    font-size: 0.8rem;
    text-decoration: none;
    transition: color $time;

    &:nth-child(n + 3) {
      margin-left: 1rem;
    }

    &:hover,
    &--active {
      color: $brand-1;
    }

    &--brand {
      display: flex;
      align-items: center;
    }

    &--about {
      margin-left: auto;
    }

    &--login {
      color: $brand-2;
      transition: $button-transition;

      &:hover {
        color: #fff;
        background-color: $brand-1;
        border-color: $brand-1;
      }
    }
  }

  &__brand-logo {
    width: 3rem;
  }

  &__brand-text {
    font-family: 'BioRhyme', serif;
    font-size: 1.4rem;
    margin: 0 0 0 1rem;
  }
}

.navbar {
  @include bp($s) {
    &__container {
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    &__link {
      font-size: 1rem;
    }

    &__brand-text {
      font-size: 2rem;
    }
  }
}
