@import 'variables';

.badge {
  align-items: center;
  background-color: $lightish-orange;
  border-radius: 50%;
  color: #fff;
  font-size: 0.8rem;
  display: inline-flex;
  height: 1.4rem;
  justify-content: center;
  width: 1.4rem;
}
