@import '../styles/variables';

.button {
  background-color: transparent;
  border: thin solid #fff;
  border-radius: 2rem;
  box-shadow: $shadow-m;
  color: inherit;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: $button-transition;
  width: fit-content;

  &:hover {
    box-shadow: $shadow-l;
  }

  &:active {
    box-shadow: $shadow;
    transform: translateY(0.05rem);
  }
}
