@import '../styles/variables';

.button {
  background-color: transparent;
  border: 0.1rem solid #fff;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: $button-transition;
  width: fit-content;
}
