@import '/src/styles/variables';

.error {
  background-color: $red;
  border-radius: $radius;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1rem;

  &__line {
    margin: 0 0 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
