@import '../styles/variables';

.firm-row {
  &__tag {
    &--location {
      background-color: $light-red;
    }

    &--practice {
      background-color: $light-cyan;
    }
  }

  &__cell {
    vertical-align: top;

    &--rank {
      // width: 2rem;
    }

    &--name {
      // width: 8rem;
    }

    &--locations {
    }

    &--practices {
    }

    &--gpa {
    }

    &--salary {
    }

    &--rankings {
    }

    &--qualifications {
    }

    &--date {
    }
  }
}
