@import '../styles/variables';

.icon-button {
  border-radius: 50%;
  height: 2rem;
  line-height: 0;
  transition: background-color $time, box-shadow $time, color $time,
    transform $time;
  width: 2rem;

  &__icon {
    font-size: 1rem;
  }
}
