@import 'mixins';

.input-line {
  &__group {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
  }

  &__icon {
    font-size: 1.6rem;
    margin-right: 1rem;
    width: 2rem;
  }

  &__input {
    border: 0;
    border-bottom: 2px solid $brand-1;
    color: $brand-2;
    height: 1rem;
    padding: 0.5rem;
    width: 100%;

    @include placeholder() {
      font-size: 1rem;
    }
  }

  &__submit.button--big {
    border-color: $brand-1;
    color: $brand-1;
    margin: 3rem 0 0 auto;

    &:hover {
      background-color: $brand-1;
      color: #fff;
    }

    &:disabled {
      background-color: transparent;
      color: $brand-1;
    }
  }
}

@include bp($s) {
  .input-line {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;

    &__container:last-child:nth-child(2n - 1) {
      grid-column: span 2;
    }

    &__group {
      margin-bottom: 0;
    }

    &__heading {
      margin-top: 0;
    }

    &__submit.button--big {
      margin-top: 5rem;
    }
  }
}

@include bp($l) {
  .input-line--3 {
    grid-template-columns: 1fr 1fr 1fr;

    > .input-line__container:last-child:nth-child(2n - 1) {
      grid-column: span 1;
    }
  }
}
