@import '../styles/mixins';
@import '../styles/variables';

.navbar {
  align-items: center;
  display: flex;
  padding-top: 1rem;

  &--discrete {
    background-color: #fff;
    box-shadow: $shadow-l;
    padding-bottom: 1rem;

    > .navbar__link {
      color: $brand-2;

      &:hover,
      &--active {
        color: $brand-1;
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    transition: color $time;

    &:nth-child(n + 3) {
      margin-left: 1rem;
    }

    &:hover,
    &--active {
      color: $brand-1;
    }

    &--brand {
      display: flex;
      align-items: center;
    }

    &--about {
      margin-left: auto;
    }

    &--login {
      color: #fff;
      transition: $button-transition;

      &:hover {
        color: $brand-1;
        background-color: #fff;
      }
    }
  }

  &__brand-logo {
    width: 3rem;
  }

  &__brand-text {
    font-family: 'BioRhyme', serif;
    font-size: 1.4rem;
    margin: 0 0 0 1rem;
  }
}

@include bp($s) {
  .navbar {
    padding-top: 2rem;

    &--discrete {
      padding-bottom: 2rem;
    }

    &__link {
      font-size: 1rem;
    }

    &__brand-text {
      font-size: 2rem;
    }
  }
}
