@import '/src/styles/variables';

.admin {
  &__main {
    display: flex;
  }

  &__group {
    flex: 1;
  }

  &__radios {
    display: flex;
    margin: 1rem 0 2rem 0;
  }

  &__radio-line:first-child {
    margin-right: 1rem;
  }

  &__radio:first-child {
    margin-right: 0.2rem;
  }

  &__button {
    background-color: $brand-2;
    border: none;
    color: white;
    width: 16rem;

    &:hover {
      background-color: $brand-1;
    }
  }
}
