@import '../../styles/mixins';
@import '../../styles/variables';

.about {
  background-attachment: fixed;
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $brand-2;
  height: 100%;

  &__section-topline {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__icon,
  &__section-heading {
    font-size: 1.6rem;
  }

  &__section-heading {
    margin: 0 0 0 1rem;
  }

  &__text {
    font-size: 1.1rem;
  }

  &__button {
    border-color: $brand-2;
    color: $brand-2;

    &:hover {
      background-color: $brand-2;
      color: #fff;
    }
  }

  &__contact {
    margin: 4rem 0 2rem 0;
  }

  &__link {
    color: $dark-cyan;
  }
}

@include bp($s) {
  .about {
    &__icon,
    &__section-heading {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.2rem;
    }
  }
}

@include bp($m) {
  .about {
    text-align: left;

    &__container {
      display: flex;
    }

    &__section {
      flex: 1.5;
    }

    &__section-topline {
      justify-content: left;
    }

    &__icon,
    &__section-heading {
      font-size: 2.1rem;
    }

    &__contact {
      flex: 1;
      margin: 0 0 0 2rem;
    }
  }
}

@include bp($l) {
  .about {
    &__icon,
    &__section-heading {
      font-size: 2.4rem;
    }

    &__text {
      font-size: 1.3rem;
    }

    &__contact {
      margin-left: 8rem;
    }
  }
}
