@import '../../styles/mixins';
@import '../../styles/variables';

.about {
  &__jumbotron {
    background-attachment: fixed;
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__container {
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
  }

  &__heading {
    font-size: 2rem;
    margin: 0;
  }

  &__main {
    margin: 2rem 0;
    text-align: center;
  }

  &__section-topline {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__icon,
  &__section-heading {
    font-size: 1.6rem;
  }

  &__section-heading {
    margin: 0 0 0 1rem;
  }

  &__text {
    font-size: 1.1rem;
  }

  &__button {
    color: $brand-2;
    border-color: $brand-2;
    padding: 1rem;

    &:hover {
      background-color: $brand-2;
      color: #fff;
    }
  }

  &__contact {
    margin: 4rem 0 2rem 0;
  }
}

@include bp($s) {
  .about {
    &__container {
      padding-bottom: 3rem;
      padding-top: 3rem;
      text-align: left;
    }

    &__heading {
      font-size: 3rem;
    }

    &__icon,
    &__section-heading {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__button {
      padding: 1rem 2rem;
    }
  }
}

@include bp($m) {
  .about {
    &__container {
      padding-bottom: 4rem;
      padding-top: 4rem;
    }

    &__main {
      display: flex;
      margin: 4rem 0;
      text-align: left;
    }

    &__section {
      flex: 1.5;
    }

    &__section-topline {
      justify-content: left;
    }

    &__icon,
    &__section-heading {
      font-size: 2.1rem;
    }

    &__contact {
      flex: 1;
      margin: 0 0 0 2rem;
    }
  }
}

@include bp($l) {
  .about {
    &__container {
      padding-bottom: 8rem;
      padding-top: 8rem;
    }

    &__main {
      margin: 8rem 0;
    }

    &__icon,
    &__section-heading {
      font-size: 2.4rem;
    }

    &__text {
      font-size: 1.3rem;
    }

    &__contact {
      margin-left: 8rem;
    }
  }
}
