@import '../../../styles/variables';

.actions {
  position: relative;

  &__action {
    background-color: transparent;
    border-style: solid;
    border-width: 0.15rem;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }

    &--save {
      border-color: $blue;
      color: $blue;

      &:hover,
      &.actions__action--active {
        background-color: $blue;
        color: #fff;
      }
    }

    &--add {
      border-color: $green;
      color: $green;

      &:hover,
      &.actions__action--active {
        background-color: $green;
        color: #fff;
      }
    }

    &--remove,
    &--delete {
      border-color: $red;
      color: $red;

      &:hover,
      &.actions__action--active {
        background-color: $red;
        color: #fff;
      }
    }

    &--edit {
      border-color: $brand-1;
      color: $brand-1;

      &:hover,
      &.actions__action--active {
        background-color: $brand-1;
        color: #fff;
      }
    }
  }

  &__dropdown {
    width: 14rem;
  }

  &__heading {
    margin: 0 0 1rem 0;
  }

  &__select-line {
    align-items: center;
    display: flex;
  }

  &__submit {
    background: none;
    color: $brand-2;
    font-size: 1.4rem;
    line-height: 0;
    margin-left: 1rem;
  }

  &__submit-icon {
    transition: color $time, transform $time;

    &:active {
      transform: translateY(0.1rem);
    }

    &--add:hover {
      color: $green;
    }
  }
}
