@import 'variables';

.row {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:nth-child(odd) {
    background-color: $light-gray;
  }

  &:nth-child(even) {
    background-color: $gray;
  }

  &.row--dragging,
  &.row--selected {
    background-color: $light-orange;
  }

  &.row--ghosting {
    background-color: $lightest-orange;
  }

  &__cell {
    font-size: 0.9rem;
    padding: 0.5rem 0.25rem;
    vertical-align: top;

    &:first-child {
      padding-left: 0.5rem;
    }

    &:last-child {
      padding-right: 0.5rem;
    }

    &--rank {
      width: 5%;
    }

    &--name {
      width: 15%;
      padding-top: 0.65rem;
    }

    &--locations {
      width: 10%;
    }

    &--practices {
      width: 10%;
    }

    &--gpa {
      width: 5%;
    }

    &--salary {
      width: 10%;
    }

    &--rankings {
      width: 30%;
    }

    &--qualifications {
      width: 10%;
    }

    &--date {
      white-space: nowrap;
      width: 5%;
    }
  }

  &__tags {
    &--location {
      background-color: $light-red;
    }

    &--practice {
      background-color: $light-yellow;
    }

    &--qualification {
      background-color: #a5d8ff;
    }
  }

  &__badge-line {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    margin: 0;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__badge {
    margin-right: 0.25rem;

    &--required {
      background-color: $red;
    }

    &--preferred {
      background-color: $dark-cyan;
    }

    &--small {
      background-color: $light-green;
    }

    &--large {
      background-color: $green;
    }

    &--rank {
      background-color: $violet;
    }
  }

  &__link {
    color: $brand-2;
    text-decoration: none;
    transition: color $time;

    &:hover {
      color: $brand-1;
    }
  }

  &__count-cell {
    position: absolute;
    right: -0.6rem;
    top: -0.7rem;
  }

  &__count {
    background-color: $brand-2;
  }
}
