@import 'variables';

.table {
  border-radius: $radius;
  border-spacing: 0;
  box-shadow: $shadow-m;
  overflow: hidden;
  table-layout: fixed;
  user-select: none;

  &__wrapper {
    overflow-x: auto;
  }

  &__heading {
    background-color: $dark-gray;
    color: #fff;
    font-weight: normal;
    padding: 1rem 0.25rem;
    text-align: left;

    &:first-child {
      padding-left: 0.5rem;
    }

    &:last-child {
      padding-right: 0.5rem;
    }
  }
}
