@import '/src/styles/variables';

.tags {
  margin: -0.25rem -0.25rem 0 0;

  &__tag {
    border-radius: 2rem;
    color: $dark-gray;
    display: inline-block;
    font-size: 0.8rem;
    margin: 0.25rem 0.25rem 0 0;
    padding: $slim;
    white-space: pre;
  }
}
