@import '../../styles/mixins';
@import '../../styles/variables';

.home {
  background-attachment: fixed;
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  &__main {
    color: #fff;
    margin: 0 auto;
    max-width: 30rem;
    text-align: center;
  }

  &__heading {
    font-size: 4rem;
    margin: 0;
  }

  &__text {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }

  &__button {
    color: #fff;
    margin: 0 auto;

    &:hover {
      color: $brand-1;
      background-color: #fff;
    }
  }
}

@include bp($m) {
  .home {
    background-position: center;

    &__main {
      margin: 0;
      text-align: left;
    }

    &__text {
      font-size: 1.2rem;
    }

    &__button {
      margin: 0;
    }
  }
}

@include bp($xl) {
  .home__main {
    max-width: 40rem;
  }
}
