@import './styles/mixins';
@import './styles/variables';

body {
  background: url(background.jpg) center center/cover no-repeat fixed;
}

nav {
  align-items: center;
  display: flex;
  padding: 1rem;

  a {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    transition: color $time;

    &:hover {
      color: $yellow;
    }

    &.brand {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
      }

      p {
        font-family: 'BioRhyme', serif;
        font-size: 1.4rem;
        margin: 0 0 0 1rem;
      }
    }

    &.about {
      margin-left: auto;
    }

    &.login {
      border: 1px solid #fff;
      border-radius: 2rem;
      box-shadow: $shadow-m;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      transition: border-color $time, box-shadow $time, color $time,
        transform $time;

      &:hover {
        border-color: $yellow;
        box-shadow: $shadow-l;
        transform: translateY(-0.05rem);
      }

      &:active {
        box-shadow: $shadow;
        transform: translateY(0.05rem);
      }
    }
  }

  @include bp($s) {
    padding: 2rem;

    a {
      font-size: 1rem;

      &.brand p {
        font-size: 2rem;
      }
    }
  }
}
