@import './styles/layout';

body {
  background-attachment: fixed;
  background-image: url(background.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  align-items: center;
  display: flex;

  a {
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    transition: color $time;

    &:hover {
      color: $orange;
    }

    &.brand {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
      }

      p {
        font-family: 'BioRhyme', serif;
        font-size: 1.4rem;
        margin: 0 0 0 1rem;
      }
    }

    &.about {
      margin-left: auto;
    }

    &.login {
      color: #fff;
      margin-left: 1rem;

      &:hover {
        color: $orange;
        background-color: #fff;
      }
    }
  }
}

.home {
  color: #fff;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;

  &__heading {
    font-size: 4rem;
    margin: 0;
  }

  &__text {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }

  &__button:hover {
    color: $orange;
    background-color: #fff;
  }
}

@include bp($s) {
  nav a {
    font-size: 1rem;

    &.brand p {
      font-size: 2rem;
    }
  }
}

@include bp($m) {
  body {
    background-position: center;
  }

  .home {
    margin: 0;
    text-align: left;

    &__text {
      font-size: 1.2rem;
    }
  }
}

@include bp($xl) {
  .home {
    max-width: 40rem;
  }
}
